<div>
    <div class="my-1">
        <button class="text-button-bold" data-tooltip="Click to copy email" role="button">
            <i class="normal-icons gradient-color fa-solid fa-envelope"></i>
            <span class="mx-3">amankushwaha2001@gmail.com</span>
            <i class="normal-icons gradient-color ml-auto fa-solid fa-copy"></i>
        </button>
    </div>
    <div class="my-1">
        <button class="text-button-bold" data-tooltip="Click to copy link" role="button">
            <i class="normal-icons gradient-color fa-brands fa-linkedin"></i>
            <span class="mx-3">https://www.linkedin.com/in/amankushwaha0606/</span>
            <i class="normal-icons gradient-color ml-auto fa-solid fa-copy"></i>
        </button>
    </div>
    <div class="my-1">
        <button class="text-button-bold" data-tooltip="Click to copy link" role="button">
            <i class="normal-icons gradient-color fa-brands fa-square-github"></i>
            <span class="mx-3">https://github.com/amankushwaha0606/</span>
        </button>
    </div>
    <div class="my-1">
        <button class="text-button-bold" data-tooltip="Go to my Hometown" role="button">
            <i class="normal-icons gradient-color fa-solid fa-house-chimney"></i>
            <span class="mx-3">Kanpur, Uttar Pradesh 208025</span>
        </button>
    </div>
    <div class="my-1">
        <button class="text-button-bold" data-tooltip="Go to my Residence" role="button">
            <i class="normal-icons gradient-color fa-solid fa-location-dot"></i>
            <span class="mx-3">Chandigarh</span>
        </button>
    </div>
</div>