<div>
    <div class="my-1">
        <button class="text-button-bold" role="button" (click)="copyText(contactLinks[0])">
            <i class="normal-icons gradient-color fa-solid fa-envelope"></i>
            <div class="mx-3">{{contactLinks[0]}}</div>
            <i class="normal-icons gradient-color ml-auto fa-solid fa-copy"></i>
        </button>
    </div>
    <div class="my-1">
        <button class="text-button-bold" role="button" (click)="copyText(contactLinks[1])">
            <i class="normal-icons gradient-color fa-brands fa-linkedin"></i>
            <div class="mx-3">{{contactLinks[1]}}</div>
            <i class="normal-icons gradient-color ml-auto fa-solid fa-copy"></i>
        </button>
    </div>
    <div class="my-1">
        <button class="text-button-bold" role="button" (click)="copyText(contactLinks[2])">
            <i class="normal-icons gradient-color fa-brands fa-square-github"></i>
            <div class="mx-3">{{contactLinks[2]}}</div>
        </button>
    </div>
    <div class="my-1">
        <button class="text-button-bold" role="button" (click)="copyText(contactLinks[3])">
            <i class="normal-icons gradient-color fa-solid fa-house-chimney"></i>
            <div class="mx-3">{{contactLinks[3]}}</div>
        </button>
    </div>
    <div class="my-1">
        <button class="text-button-bold" role="button" (click)="copyText(contactLinks[4])">
            <i class="normal-icons gradient-color fa-solid fa-location-dot"></i>
            <div class="mx-3">{{contactLinks[4]}}</div>
        </button>
    </div>
</div>