.achievement-container {
    display: block;
    border: 2px solid;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    max-width: 10rem;
}
.achievement-container div {
    text-align: center;
}
.header-achievements {
    font-size: xxx-large;
    font-weight: 900;
}
.achievements {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
