.tech-stack-icons {
    height: 5rem;
    width: 5rem;
}
.rating {
    display: flex;
    justify-content: center;
}
img {
    mix-blend-mode: multiply;
}
.img-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.img-container {
    text-align: center;
}

@media screen and (max-width: 576px) {
    .tech-stack-icons {
        height: 3rem;
        width: 3rem;
    }
}