<div class="icon-container">
    <div class="icon-wrapper">
        <div>
            <i class="normal-icons gradient-color fa-brands fa-linkedin"></i>
            <span class="icon-text">LinkedIn</span>
        </div>
        <div>
            <i class="normal-icons gradient-color fa-brands fa-square-github"></i>
            <span class="icon-text">GitHub</span>
        </div>
        <div>
            <i class="normal-icons gradient-color fa-solid fa-envelope"></i>
            <span class="icon-text">Mail</span>
        </div>
        <div>
            <i class="normal-icons gradient-color fa-brands fa-square-instagram"></i>
            <span class="icon-text">Instagram</span>
        </div>
    </div>
</div>