<div class="icon-container">
    <div class="icon-wrapper">
        <div (click)="copyText(socialMediaLinks[0].link)">
            <i class="normal-icons gradient-color fa-brands fa-linkedin"></i>
            <span class="icon-text">{{socialMediaLinks[0].name}}</span>
        </div>
        <div (click)="copyText(socialMediaLinks[1].link)">
            <i class="normal-icons gradient-color fa-brands fa-square-github"></i>
            <span class="icon-text">{{socialMediaLinks[1].name}}</span>
        </div>
        <div (click)="copyText(socialMediaLinks[2].link)">
            <i class="normal-icons gradient-color fa-solid fa-envelope"></i>
            <span class="icon-text">{{socialMediaLinks[2].name}}</span>
        </div>
    </div>
</div>