<div class="app-container">
  <div class="tablet-outer">
    <div class="top-bar">
      <h3 class="typing-header">
        Hii I'm Aman Singh Kushwaha!
      </h3>
      <i class="fa-solid fa-gear card-box-icon gradient-color"></i>
    </div>
    <div class="d-flex header-list">
      <div class="col-lg-3 top-card">
        <div class="card-box" role="button" (click)="toggleSection(1)">
          <br>
          <i class="fa-solid fa-user card-box-icon gradient-color"></i>
          <div class="card-box-heading">
            See my resume
          </div>
        </div>
      </div>
      <div class="col-lg-3 top-card">
        <div class="card-box" role="button" (click)="toggleSection(2)">
          <br>
          <i class="fa-solid fa-school card-box-icon gradient-color"></i>
          <div class="card-box-heading">Education</div>
        </div>
      </div>
      <div class="col-lg-6 top-card">
        <div class="card-box" role="button" (click)="toggleSection(3)">
          <br>
          <i class="fa-solid fa-user card-box-icon gradient-color"></i>
          <div class="main-heading">My Backstory</div>
        </div>
      </div>
      <div class="col-lg-6 top-card">
        <div class="card-box" role="button" (click)="toggleSection(4)">
          <br>
          <i class="fa-solid fa-list-check card-box-icon gradient-color"></i>
          <div class="main-heading">
            Projects
          </div>
        </div>
      </div>
      <div class="col-lg-3 top-card">
        <div class="card-box" role="button" (click)="toggleSection(5)">
          <br>
          <i class="fa-solid fa-screwdriver-wrench card-box-icon gradient-color"></i>
          <div class="card-box-heading">
            Tech Stack and Tools
          </div>
        </div>
      </div>
      <div class="col-lg-3 top-card">
        <div class="card-box" role="button" (click)="toggleSection(6)">
          <br>
          <i class="fa-solid fa-address-book card-box-icon gradient-color"></i>
          <div class="card-box-heading">
            Contact me
          </div>
        </div>
      </div>
    </div>
    <div class="col-12" *ngIf="selectedSection == 1">
      <resume></resume>
    </div>
    <div class="col-12" *ngIf="selectedSection == 2">
      <education></education>
    </div>
    <div class="col-12" *ngIf="selectedSection == 3">
      <about-me></about-me>
    </div>
    <div class="col-12" *ngIf="selectedSection == 4">
      <projects></projects>
    </div>
    <div class="col-12" *ngIf="selectedSection == 5">
      <tech-stack></tech-stack>
    </div>
    <div class="col-12" *ngIf="selectedSection == 6">
      <contact></contact>
    </div>
    <div>
      <journey></journey>
    </div>
  </div>
</div>
<div class="social-media-menu">
  <social-media-menu></social-media-menu>
</div>